html, body {
  height: 100%;
}

body {
  margin: 1em;
  display: grid;
  grid: auto-flow min-content/ repeat(12,1fr);
  grid-gap: 1em;
  background-color: rgb(36, 1, 53);
  background-image: url("https://iili.io/2KPl49.md.jpg");
  
}

header, 
footer {
  grid-column-start: 1;
  grid-column-end: 13;
  padding: 50px 40px 50px 40px;
  background-color: rgb(103, 90, 112);
}

main {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 40px 30px 40px 30px;
  background-color: rgb(111, 99, 117);
}

.decoration{
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 6;

}

nav {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(98, 78, 107);
}

aside {
  grid-column-start: 1;
  grid-column-end: 5;
  background: transparent; 

}


.image {
  overflow: hidden;
}


li, a {
  text-decoration-color: black;
  font-weight: bold;
  text-size-adjust: 10px;
}

