
body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://iili.io/dbaQcu.md.jpg);
    background-size: cover;
    background-attachment: fixed;;
   
}

.bold-underline {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.header-title {
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(224, 141, 250);
  padding: 40px 20px 40px 20px;
  width: fixed;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 35px;
}

.bio {
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(158, 1, 206);
  padding: 40px 10px 40px 10px;
  width: fixed;
}


.image {
    text-align: center;
}

.center {
    text-align: center;
    font-size: 30px;

}

.left-col, .right-col {
    background-color: #a06cf3;
    width: 33.3%;
    float: left;
    height: 850px;
} 

.center-col {
    background-color: #a168fc;
    width: 33.3%;
    float: left;
    height: 850px;
}

.left-col2, .right-col2 {
    background-color: rgb(2, 143, 101);
    width: 50%;
    float: left;
    height: 850px;
}

.gallery {
  text-align: center;
  background-color: rgb(165, 140, 236);
  width: 750px;
  min-height: 750px;
  margin: 0 auto;
  padding: 20px;
}

.gallery img {
  float: left;
  width: 30%;
  margin: 10px;
  display: inline;
  max-height: 375px;
}

.header {
    font-weight: bold;
    text-align: center;
    background-color: #310577;
    width: 100%;
    height: 300px;
}

li {
  display: none;
  border: dotted 1px;
}

ul{
  padding: 10px 20px 10px 20px;
  list-style: none;
  background: transparent;        
}

ul li{
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
ul li a{
  display: block;
  padding: 8px 25px;
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-weight: bold;
}
ul li a:hover{
  color: rgb(133, 47, 245);
  background: #3a0161;
}

ul li ul.dropdown{  
  min-width: 100%; 
  background: #49018b;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
ul li:hover ul.dropdown{
  display: block;	
}
ul li ul.dropdown li{
  display: block;
}

.menu-wrap {
  border: dotted 1px;
}


